.event-cards {
  display: flex;
}

.event-card-img {
  object-fit: cover;
  height: 300px; /* Adjust the desired height of the images */
}

.no-bullets {
    list-style-type: none;
    padding-left: 0;
}
