{% extends 'base.html' %}
{% load custom_filters %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h2>Сотрудник</h2>
                {% if form %}
                    <form method="POST">
                        {% csrf_token %}
                        {% for field in form.visible_fields %}
                            {% if field.name == 'password' %}
                                <div class="form-group" id="password_group" style="display: none">
                            {% else %}
                                <div class="form-group">
                            {% endif %}

                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field|add_class:'form-control' }}
                        {% if field.help_text %}
                            <small class="form-text text-muted">{{ field.help_text }}</small>
                        {% endif %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger" role="alert">{{ error }}</div>

                        {% endfor %}
                        </div>
                        {% endfor %}
                        {{ form.password_changed }}

                        <div class="mt-3">
                            <button type="button" id="generate-password-btn" class="btn btn-secondary"
                                    onclick="toggleGeneratePasswordButton(this,
                                document.getElementById('password_group'),
                                document.getElementById('id_password'),
                                document.getElementById('id_password_changed'))">Сгенерировать
                                пароль
                            </button>
                            <button class="btn btn-primary" type="submit">Сохранить</button>
                        </div>
                    </form>

                {% else %}
                    <div class="form-group">
                        <strong>Имя</strong>
                        <p>{{ employee.first_name }}</p>
                    </div>
                    <div class="form-group">
                        <strong>Фамилия</strong>
                        <p>{{ employee.last_name }}</p>
                    </div>
                    <div class="form-group">
                        <strong>Логин телеграм</strong>
                        <p>{{ employee.username }}</p>
                    </div>
                    {% if perms.core.change_customuser %}
                        <div class="mt-5">
                            <!-- блоки кода, доступные только для редактирования -->
                            <a href="{% url 'edit_employee' employee.id %}" class="btn btn-primary">Редактировать</a>
                        </div>
                    {% endif %}

                    <div class="mt-5">
                        <h3>Участие в мероприятиях</h3>
                        {% if employee.eventuser_set.count > 0 %}
                            <ul>
                                {% for event in employee.eventuser_set.all %}
                                    <li>
                                        <strong>{{ event.event }}</strong> <br/>
                                        {% if event.event.photo %}
                                            <img width="200" src="{{ event.event.photo.url }}"/>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p>Сотрудник не участвовал в мероприятиях</p>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}