{% extends 'base.html' %}

{% block content %}
    <h2>Список сотрудников</h2>
    {% if perms.core.add_customuser %}
        <a href="{% url 'new_employee' %}" class="btn btn-primary">Добавить сотрудника</a>
    {% endif %}
    {% if employees %}
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Имя пользователя</th>
                    <th>Фамилия</th>
                    <th>Имя</th>
                    <th>Email</th>
                    <th>Роль</th>
                </tr>
                </thead>
                <tbody>
                {% for employee in employees %}
                    <tr onclick="window.location='{% url 'employee' employee.id %}'" style="cursor: pointer;">
                        <td>{{ employee.username }}</td>
                        <td>{{ employee.last_name }}</td>
                        <td>{{ employee.first_name }}</td>
                        <td>{{ employee.email }}</td>
                        <td>{{ employee.groups.first.name }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p>В вашей организации нет сотрудников.</p>
    {% endif %}
{% endblock %}
