{% extends 'base.html' %}

{% block content %}
    <h1>Список сотрудников</h1>
    {% if perms.core.add_user %}
        <a href="{% url 'new_employee' %}" class="btn btn-primary">Добавить cотрудника</a>
    {% endif %}
    {% if employees %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Имя пользователя</th>
                <th>Email</th>
                <th>Роль</th>
            </tr>
            </thead>
            <tbody>
            {% for employee in employees %}
                <tr>
                    <td>
                        <a href="{% url 'employee' employee.id %}" style="text-decoration: none">
                            {{ employee.username }}
                        </a>
                    </td>
                    <td>{{ employee.email }}</td>
                    <td>{{ employee.groups.first.name }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>В вашей организации нет сотрудников.</p>
    {% endif %}
{% endblock %}
