<!-- event_detail.html -->
{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                {% if form %}
                    <h2 class="mt-5 mb-4">Изменение мероприятия</h2>
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="form-group">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {% if field.name == 'photo' %}
                                    <img id="image-preview" src="{{ form.instance.photo.url }}" alt="{{ form.instance.name }}"
                                         class="img-fluid">
                                    {{ field|add_onchange:'previewImage(this)' }}
                                {% else %}
                                    {{ field|add_class:'form-control' }}
                                {% endif %}
                            </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                    </form>
                {% else %}
                    <h2 class="mb-4">{{ event.name }}</h2>
                    <p>{{ event.description }}</p>
                    <p><strong>Start Date:</strong> {{ event.start_date }}</p>
                    <p><strong>Photo:</strong></p>
                    {% if event.photo %}
                        <img src="{{ event.photo.url }}" alt="{{ event.name }}" class="img-fluid">
                    {% else %}
                        <img src="{% static 'img/default_event_photo.jpg' %}" alt="{{ event.name }}" class="img-fluid">
                    {% endif %}
                    {% if perms.core.change_event %}
                        <div class="mt-5">
                            <!-- блоки кода, доступные только для редактирования -->
                            <a href="{% url 'edit_event' event.id %}" class="btn btn-primary">Edit Event</a>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
