{% load custom_filters %}
{% if perms.core.add_eventuser and event|is_event_actual %}
    <div class="text-center">
        <button type="button" class="btn btn-primary" onclick="openModal('selectEmployeeModal')">
            Добавить исполняющего
        </button>
    </div>
    <!-- Модальное окно для выбора сотрудника -->
    <div class="modal fade" id="selectEmployeeModal" tabindex="-1" role="dialog"
         aria-labelledby="selectEmployeeModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form method="POST" action="{% url 'add_employees' event_id=event.id %}">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title" id="selectEmployeeModalLabel">Выберите исполняющего</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        </button>
                    </div>
                    <div class="modal-body">
                        <ul class="list-group">
                            {% for employee in organization_employees %}
                                <li class="list-group-item">
                                    <input type="checkbox" name="employees" value="{{ employee.id }}"/>
                                    {{ employee }}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                        <button type="submit" class="btn btn-primary">Добавить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endif %}

{% if event.eventuser_set %}
    <h3>Исполняющий персонал</h3>
    <div class="list-group">
        {% for event_employee in event.eventuser_set.all %}
            <button type="button"
                    class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                    data-bs-toggle="collapse" data-bs-target="#tasks{{ event_employee.id }}"
                    aria-controls="tasks{{ event_employee.id }}">
                {{ event_employee.user }}
                <div class="d-flex justify-content-around">
                    <span class="badge bg-primary badge-pill mx-1">{{ event_employee.eventtask_set.count }}</span>
                    {% for state in task_states %}
                        <span class="badge badge-pill {{ state.name|get_state_color }} mx-1"
                              data-toggle="tooltip" data-placement="top" title="{{ state.name }}">
                            {{ event_employee.eventtask_set|tasks_count:state }}
                        </span>
                    {% endfor %}
                </div>
            </button>
            <div class="list-group list-group-flush collapse mx-2" id="tasks{{ event_employee.id }}">
                {% for task in event_employee.eventtask_set.all %}
                    <a class="list-group-item list-group-item-action d-flex align-items-center justify-content-between"
                       style="cursor: pointer"
                       onclick="openModal('taskInfoModal{{ task.id }}')">{{ task.name }}
                        <span class="badge badge-pill {{ task.state.name|get_state_color }}"
                              data-toggle="tooltip" data-placement="top"
                              title="{{ task.state.name }}"> {{ task.state.name }}
                        </span>
                    </a>
                    <div class="modal fade" id="taskInfoModal{{ task.id }}" tabindex="-1" role="dialog"
                         aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="myModalLabel">
                                        {{ task.name }}
                                        <span class="badge badge-pill {{ task.state.name|get_state_color }}"
                                              data-toggle="tooltip" data-placement="top"
                                              title="{{ task.state.name }}">
                                            {{ task.state.name }}
                                        </span>
                                    </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close">
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <h4>Отчеты</h4>
                                    <div class="card-deck">
                                        {% for report in task.eventtaskreport_set.all %}
                                            <div class="card mb-3">
                                                {% if report.photo %}
                                                    <img src="{{ report.photo.url }}" alt="Отчет"
                                                         class="card-img-top">
                                                {% endif %}
                                                <div class="card-body">
                                                    <p class="card-text">{{ report.message }}</p>
                                                </div>
                                            </div>
                                        {% empty %}
                                            <div class="card">
                                                <div class="card-body">
                                                    <p class="card-text">Нет отчетов</p>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <a class="list-group-item">Нет задач</a>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% else %}
    <p>Нет участников</p>
{% endif %}