<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32">
            Logo
        </svg>
        <span class="fs-4">Events Planner
            {% if user.is_authenticated %}
                - {{ user.organization.name }}
            {% endif %} </span>
    </a>

    <ul class="nav nav-pills">
        <li class="nav-item">
            <a href="{% url 'events' %}" class="nav-link {% if current_url == 'events' %} active{% endif %}"
               aria-current="page">Мероприятия</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'reports' %}"
               class="nav-link {% if current_url == 'reports' %} active{% endif %}">Отчеты</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'employees' %}"
               class="nav-link {% if current_url == 'employees' %} active{% endif %}">Сотрудники</a>
        </li>
        {% if user.is_authenticated %}
            <li class="nav-item">
                <a href="{% url 'logout' %}" class="nav-link">Выйти</a>
            </li>
        {% endif %}
    </ul>
</header>