{% load static %}

<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <img src="{% static 'img/logo.svg' %}" height="40" class="mx-3" alt="Logo">
        <span class="fs-4">Events Planner
            {% if user.is_authenticated %}
                - {{ user.organization.name }}
            {% endif %} </span>
    </a>

    <ul class="nav nav-pills">
        {% if user.is_authenticated %}
            <li class="nav-item">
                <a href="{% url 'overview' %}" class="nav-link {% if current_url == 'overview' %} active{% endif %}">Обзор</a>
            </li>
        {% endif %}
        {% if perms.core.view_organization %}
            <li class="nav-item">
                <a href="{% url 'organization' %}"
                   class="nav-link {% if current_url == 'organization' %} active{% endif %}"
                   aria-current="page">Организация</a>
            </li>
        {% endif %}
        {% if perms.core.view_event %}
            <li class="nav-item">
                <a href="{% url 'events' %}" class="nav-link {% if current_url == 'events' %} active{% endif %}"
                   aria-current="page">Мероприятия</a>
            </li>
        {% endif %}
        {% if perms.core.view_eventtaskreport %}
            <li class="nav-item">
                <a href="{% url 'reports' %}"
                   class="nav-link {% if current_url == 'reports' %} active{% endif %}">Отчеты</a>
            </li>
        {% endif %}
        {% if perms.core.view_customuser %}
            <li class="nav-item">
                <a href="{% url 'employees' %}"
                   class="nav-link {% if current_url == 'employees' %} active{% endif %}">Сотрудники</a>
            </li>
        {% endif %}
        {% if user.is_authenticated %}
            <li class="nav-item">
                <a href="{% url 'profile' %}" class="nav-link {% if current_url == 'profile' %} active{% endif %}">Профиль</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'logout' %}" class="nav-link">Выйти</a>
            </li>
        {% else %}
            <li class="nav-item mx-1">
                <a href="{% url 'login' %}" class="nav-link {% if current_url == 'login' %} active{% endif %}">Авторизация</a>
            </li>
        {% endif %}
    </ul>
</header>