{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <h2 class="text-center mb-4">Добро пожаловать в "Events Planner"!</h2>
            <p class="lead text-center">Ваше идеальное приложение для организации и планирования мероприятий.
                Независимо от того, являетесь ли вы компанией, профессиональным организатором событий или просто
                любителем веселых встреч, наше приложение поможет вам создать идеальное событие с минимальными
                усилиями.</p>

            <div class="row">
                <div class="col-md-6 position-relative">
                    <h3 class="text-center mt-5">Управление персоналом</h3>
                    <i class="fas fa-user-circle fa-8x icon position-absolute bottom-0 start-0"></i>
                    <p>Добавляйте своих сотрудников и назначайте им задачи для выполнения на определенных
                        мероприятиях. Наше приложение позволяет эффективно координировать действия команды и
                        обеспечить успешное выполнение всех задач.</p>
                </div>
                <div class="col-md-6 position-relative">
                    <h3 class="text-center mt-5">Создание мероприятий</h3>
                    <i class="fas fa-calendar-alt fa-8x icon position-absolute bottom-0 end-0"></i>
                    <p>Создавайте уникальные события, от корпоративных вечеринок до конференций и свадеб. Наше
                        приложение предлагает интуитивно понятный интерфейс для добавления всех необходимых деталей,
                        включая дату, время, место проведения, описание и многое другое.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 position-relative">
                    <h3 class="text-center mt-5">Управление задачами</h3>
                    <i class="fa fa-tasks fa-8x icon position-absolute bottom-0 start-0"></i>
                    <p>Менеджер по задачам может создавать задачи для определенного мероприятия и назначать
                        исполнителей. Вы сможете легко назначать задания, устанавливать сроки и отслеживать прогресс
                        каждой задачи. Наше приложение поможет вам эффективно координировать работу команды и
                        обеспечить успешное выполнение всех задач.</p>
                </div>
                <div class="col-md-6 position-relative">
                    <h3 class="text-center mt-5">Интеграция с Telegram</h3>
                    <i class="fab fa-telegram fa-8x icon position-absolute bottom-0 end-0"></i>
                    <p>Работа с нашим приложением также доступна через бота в Telegram. Получайте уведомления и
                        общайтесь с командой непосредственно через Telegram, чтобы быть в курсе последних обновлений
                        и легко координировать действия.</p>
                </div>
            </div>

            <div class="text-center mt-5">
                <h4>Присоединяйтесь к "Events Planner" и облегчите себе жизнь при планировании и организации
                    мероприятий. Регистрируйтесь сегодня и погрузитесь в удобство и эффективность нашего
                    приложения!</h4>
                <a href="{% url 'registration' %}" class="btn btn-primary btn-lg mt-3">Регистрация</a>
            </div>
        </div>
    </div>
{% endblock %}
