{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}
    <h2>Обзор</h2>
    <div class="container">
        {% if event %}
            <div class="row">
                <div class="col-md-4">
                    <a href="{% url 'event' event.id %}">
                        {% if event.photo %}
                            <img src="{{ event.photo.url }}" alt="{{ event.name }}"
                                 class="img-fluid">
                        {% else %}
                            <img src="{% static 'img/default_event_photo.jpg' %}" alt="{{ event.name }}"
                                 class="img-fluid">
                        {% endif %}
                    </a>
                </div>
                <div class="col-md-4">
                    <div class="text-center">
                        <h3>{{ event_state }}</h3>
                        <h3>{{ event.name }}</h3>
                        <p>Дата начала: {{ event.start_date }}</p>
                        <p>Дата окончания: {{ event.end_date }}</p>
                    </div>
                </div>
                {% if perms.view_eventuser %}
                    <div class="col-md-4">
                        <h3>Список сотрудников</h3>
                        <ul class="list-group">
                            {% for employee in event.eventuser_set.all %}
                                <li class="list-group-item">
                                    {{ employee.user.username }} - {{ employee|get_employee_status }}
                                </li>
                            {% empty %}
                                <li class="list-group-item">Нет сотрудников</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
            <div class="row mt-2">
                <div>
                    <h4>Список задач</h4>
                    {% if perms.core.add_eventtask %}
                        <button class="btn btn-primary" data-toggle="modal" onclick="openModal('addTaskModal')">Добавить
                            задачу
                        </button>
                    {% endif %}
                    <ul class="list-group mt-3">
                        {% for task in event_tasks %}
                            <li class="list-group-item d-flex align-items-center justify-content-between">
                                {{ task.name }}
                                <span class="badge badge-pill {{ task.state.name|get_state_color }}"
                                      data-toggle="tooltip" data-placement="top" title="{{ task.state.name }}">
                            {{ task.state.name }}
                        </span>
                            </li>
                        {% empty %}
                            <li class="list-group-item">Нет задач</li>
                        {% endfor %}
                    </ul>
                </div>

            </div>
        {% else %}
            <div>
                Вы не участвуете в мероприятии
            </div>
        {% endif %}
    </div>

    <!-- Модальное окно для добавления задачи -->
    <div class="modal fade" id="addTaskModal" tabindex="-1" role="dialog" aria-labelledby="addTaskModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addTaskModalLabel">Добавление задачи</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'add_event_task' %}" method="POST">
                        {% csrf_token %}
                        {{ event_task_form.media }}
                        {% for field in event_task_form.visible_fields %}
                            <div class="form-group">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{ field|add_class:'form-control' }}
                            </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-primary">Добавить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}